__pycache__
src/__pycache__
src/utils/__pycache__
src/rust_utils/target
src/*/Cargo.lock
src/*/*/Cargo.lock
src/python3/build
src/rust_utils/ShapeME/data
src/rust_utils/ShapeME/upload
src/rust_utils/ShapeME/user_data
singularity/archive
singularity/current
singularity/def
singularity/*.sif
*.sif

# Ignore everything except seqs.* in example data
examples/*/*.*
!examples/*/seqs.*
