{% import "macros" as m %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>ShapeME</title>
    <link rel="stylesheet" href="/chota.min.css">
    <style>
      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>ShapeME submission form</h1>

      {% if errors | length > 1 %}
          <small class="text-error" style="margin-top: -20px">
              {{ errors | length }} field(s) have errors
          </small>
      {% endif %}

      <form action="/" method="post" enctype="multipart/form-data">
        <fieldset>
          <legend>User information</legend>
          <div class="row">
            <div class="col">
                {{ m::input(label="Name", type="text", name="account.name") }}
                <!-- required -->
            </div>
            <div class="col">
            {{ m::input(label="Email Address (to send you an email when your job has finished)", type="text", name="account.email") }}
              <!-- required pattern=".*@.*"/> -->
            </div>
          </div>

          <div class="row">
            <div class="col">
              {{ m::input(label="Password", type="password", name="account.password.first") }}
              <!--   required minlength="6" value="" /> -->
            </div>

            <div class="col">

            {{
                m::input(label="Confirm Password",
                type="password",
                name="account.password.second")
            }}

              <!--   required minlength="6" value="" /> -->
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>Job information</legend>

          <div class="row">
            <div class="col">
            {{ m::input(label="Job name", type="text", name="submission.name") }}
              <!-- required -->
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label>Boolean Options (check to set to True, leave unchecked to set to False)</label>
              <br />
              {{ m::checkbox(name="cfg.force", label="Force", value="Force") }}
            </div>
          </div>

          {# 
          <div class="row">
            <div class="col">
              <label>Applicable Categories</label>
              <br />
              {{ m::checkbox(name="submission.category", label="Biology", value="Biology") }}
              <br />
              {{ m::checkbox(name="submission.category", label="Chemistry", value="Chemistry") }}
              <br />
              {{ m::checkbox(name="submission.category", label="Physics", value="Physics") }}
              <br />
              {{ m::checkbox(name="submission.category", label="CS", value="CS") }}
            </div>
          </div>
          #}

        </fieldset>

        <fieldset>
          <legend>Fasta file</legend>

          {{
              m::input(
                  label="Fasta file to upload (fasta, must end with '.fa')",
                  type="file",
                  name="submission.fa_file"
              )
          }}

          <!-- <input type="file" name="submission.fa_file" id="fa_file" required accept=".fa"> -->

        </fieldset>

        <fieldset>
          <legend>Score file</legend>

          {{
              m::input(
                  label="Scores file to upload (must have two columns, one header row, and *.txt suffix)",
                  type="file",
                  name="submission.score_file"
              )
          }}

          <!-- <input type="file" name="submission.score_file" id="score_file" required accept=".txt"> -->

        </fieldset>

        <br />
        <input type="submit" value="Submit" class="is-full-width" />
      </form>
    </div>
  </body>
</html>
