<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>ShapeME</title>
    <link rel="stylesheet" href="/chota.min.css">
    <style>
      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
    <h1>Successful job submission</h1>

      <br>
      <a href="/submit">Submit another job</a>
      <br>
      <a href="/dashboard">Back to dashboard</a>
      <br>

      Job {{ id }} successfully submitted. You can check its status at
      <a href="/jobs/{{ id }}">this site</a>

      {#
      <h3>Submission Info</h3>

      <ul>
          {% for key, value in values %}
          {% if "password" in key %}{% continue %}{% endif %}
              <li><strong>{{ key }}</strong> - {{ value }}</li>
          {% endfor %}
      </ul>

      <a href="/">&lt; Submit Another</a>
      #}
  </body>
</html>
